<template name="ApplicationLayout">

    <head>
        <title>chatroom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://ubuntuserver:3000/">Home</a></li>
            <li><a href="http://ubuntuserver:3000/search"><i class="material-icons left">search</i>Find Friends</a></li>
            <li><a href="about.asp">Chat</a></li>
      </ul>
    </div>
  </nav>
            
        <h4>Welcome to Meteor Chat!</h4> {{> loginButtons}}
        <hr/> {{> yield}}
    </body>
</template>

<template name="welcome">
    {{#if currentUser}}
    <h2>Chat</h2> {{else}}
    <h2>please log in</h2> {{/if}}
    <ul>
        {{#each posts}}
        <li><a href="/post/{{_id}}">{{username}}:{{name}}</a></li>
        {{/each}}
    </ul>
    <form class="name-form">
        <input tpye="text" name="firstname">
        <input type="submit">
    </form>
    
</template>


<template name="post">
    <h2 class="post-class">{{name}}></h2>
</template>